<template name="lessonItem">
  <div class="lesson">
      <div class="lesson-content">
        <h3 class="lesson-title">{{title}}</h3>
        <p></p>
        <div>
          <span class="info">When?</span> {{date}} - {{time}}
        </div>
        <div>
          <span class="info">Where?</span>  {{location}}
        </div>
        <p>
          {{#if ownLesson}}<a href="{{pathFor 'lessonEdit'}}">Edit</a>{{/if}}
        </p>
        <p>
           <span class="info">Presentation</span>  {{presentationUrl}}
        </p>
        <p>
           <span class="info">Description</span> 
          <p></p>
          {{description}}
        </p>
      </div>
      <a href="{{pathFor 'lessonPage'}}" class="discuss btn btn-default">Discuss</a>
    </div>
</template>

