<template name="lessonEdit">
  <form class="main form page">
    
    <div class="form-group {{errorClass 'title'}}"> 
      <div class="form-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your lesson" class="form-control"/>
      <span class="help-block">{{errorMessage 'title'}}</span>
          </div>
        </div>
    </div>

    <div class="form-group {{errorClass 'date'}}"> 
        <div class="form-group">
          <label class="control-label" for="date">Date</label>
          <div class="controls">
            <input name="date" id="date" type="text" value="{{date}}" placeholder="Lesson Date" class="form-control"/>
      <span class="help-block">{{errorMessage 'date'}}</span>
          </div>
        </div>
      </div>
      
    <div class="form-group {{errorClass 'time'}}"> 
        <div class="form-group">
          <label class="control-label" for="time">Time</label>
          <div class="controls">
            <input name="time" id="time" type="text" value="{{time}}" placeholder="Time" class="form-control"/>
      <span class="help-block">{{errorMessage 'time'}}</span>
          </div>
        </div>
    </div>

    <div class="form-group {{errorClass 'location'}}"> 
        <div class="form-group">
          <label class="control-label" for="location">Location</label>
          <div class="controls">
            <input name="location" id="location" type="text" value="{{location}}" placeholder="Location" class="form-control"/>
      <span class="help-block">{{errorMessage 'location'}}</span>
          </div>
        </div>
      </div>

    <div class="form-group {{errorClass 'presentationUrl'}}"> 
        <div class="form-group">
          <label class="control-label" for="presentationUrl">Presentation</label>
          <div class="controls">
            <input name="presentationUrl" id="presentationUrl" type="text" value="{{presentationUrl}}" placeholder="Presentation" class="form-control"/>
      <span class="help-block">{{errorMessage 'presentationUrl'}}</span>
          </div>
      </div>
    </div>

    <div class="form-group {{errorClass 'description'}}"> 
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <input name="description" id="description" type="text" value="{{description}}" placeholder="Description" class="form-control"/>
      <span class="help-block">{{errorMessage 'description'}}</span>
          </div>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
    <a class="btn btn-danger delete" href="#">Delete Lesson</a>
  </form>
</template>
